<!DOCTYPE html>
<html>
  <head>
    <title>HowartsRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="row">
      <div class="col-md-8">
        <div class='container' >
          <div class="encabezado">
            <h1><%= 'DESPLIEGUE DE UNA APLICACION UTILIZANDO RENDER' %></h1>
            <%= image_tag "castillo.jpg", class:'castillo-image' %>
          </div>


          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
